/***************************************TAG*************************************/

body { background-color: #E4F9F5;
text-align: center;
}
hr { background-color: #DBE2EF;
  border-style: none none dotted;
  border-width: 5px;
  border-color: grey;
  width: 7%;
}
h1{
  font-family: "Pacifico", cursive;

}
h3{
  color: #0f140a;
}


/***************************************CLASS*************************************/

.middle-container{
  padding-top: 150px;
}
.skill-img{
  height: 350px;
}

/***************************************ID*************************************/